
#dropdown-basic-button{
    padding: 1.5%;
    font-size: inherit;
    background-color: #577590;
    margin-top: 2%;
    color: white;
    width: 40%;
    content-visibility: auto;
}


.options{
    padding: 3%;
    width: 90%;
    margin: auto;
}

.contain{
    height: 70vh;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #F94144;
    border-radius: 20px;
    box-shadow: 0 0 3px #191919;
}