/* .firstCol{
    padding: 2vw;
}
.secondCol{
    padding: 2vw;
} */

/* --------------first column------------ */
.colGrid{
    height: 100vh;
}
.individual{
    background-color: #F94144;
}



/* --------------second column------------ */

.col2{
   height: 45vh;
}
.myStore{
    position: relative;
  margin: auto;
  height: 40vh;
  width: 30vw;
}
.rightCol{
    /* border-radius: 2vh; */
}
.row23{
    width: 100%;
    background-color: rgb(241, 135, 135);
}

.dropDownButton{
    text-align-last: end;
    width: 100%;
}
