

/* .firstCol{
    padding: 2vw;
}
.secondCol{
    padding: 2vw;
} */

/* --------------first column------------ */
.colGrid{
    height: 100vh;
}
.header{
    height: 5vh;
}

.individual{
    background-color: #F94144;
   
}



/* --------------second column------------ */
.col1{
    background-color: #ff9395;
}
.col2{
   height: 50vh;
}
.progress-window{
    text-align: initial;
    box-shadow: 0 0 3px #191919;
    background-color: #F94144;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    margin: px;
    color: white;
    font-family: 'Avenir Medium';
}
.myStore{
    position: relative;
  margin: auto;
  height: 40vh;
  width: 60vw;
}
.row23{
    width: 100%;
    background-color: bisque;
}

.dropDownButton{
    text-align-last: end;
}
