/* .firstCol{
    padding: 2vw;
}
.secondCol{
    padding: 2vw;
} */

/* --------------first column------------ */
.colGrid{
    height: 93vh;
}



/* --------------second column------------ */

.col2{
    height: 50%;
}
